body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  
  .login-container,
  .passwords-container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .passwords-container {
    display: none;
  }
  
  .login-container h2,
  .passwords-container h2 {
    margin-top: 0;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .hidden {
    display: none;
  }
  
  